:root {
    --body-background-color: #001845;
    --body-text-color: #F0FCFF;
    --card-background-color: #00234A;
    --nav-background-color: #00234A;
    --nav-border-bottom-color: #0055FF;
    --nav-current-border-bottom-color: #1ABC9C;
    --card-border-color: #0055FF;
    --down-border-left-color: #EB3B5A;
    --degraded-border-left-color: #F7B731;
    --up-border-left-color: #20BF6B;
    --tag-color: #00234A;
    --tag-up-background-color: #20BF6B;
    --tag-down-background-color: #EB3B5A;
    --tag-degraded-background-color: #F7B731;
    --change-background-color: #F7B731;
    --error-button-border-color: #0055FF;
    --error-button-background-color: #0055FF;
    --error-button-color: #FFFFFF;
    --submit-button-border-color: #0055FF;
    --submit-button-background-color: #0055FF;
    --submit-button-color: #FFFFFF;
    --graph-opacity: 1;
    --graph-filter: none;
}